
.Barra p {
  text-align: justify;
 
    }

.Barra h2 {
   text-align: justify;
   font-size: 20px;
   color: #9c2b2b;
     }    

.Barra h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #1d1c1c;
  text-align: center;
     }   
    
